[Unit]
Description=Fiero Auto Hotspot
After=network.target NetworkManager.service
Wants=network.target

[Service]
Type=simple
SyslogIdentifier=fiero-hotspot
StandardOutput=journal
StandardError=journal
ExecStart=/usr/local/bin/fiero-hotspot start
ExecStop=/usr/local/bin/fiero-hotspot stop
TimeoutStopUSec=30s
Restart=no

[Install]
WantedBy=multi-user.target
